@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Russo+One&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #150233;
}

#Splashscreen{
    background-color: #2b1055;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #ffff;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 10;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
}

header ul li {
    list-style: none;
    margin: 15px;
    z-index: 10;
    font-weight: bold;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
    z-index: 10;
}

h1,
h2,
h3 {
    cursor: default;
}

header ul li a:hover,
header ul li a:active {
    background-color: #ffff;
    color: #2b1055;
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #2b1055, transparent);
    z-index: 1000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img.BKG {
    filter: blur(8px);
}

section img.BKG2 {
    filter: blur(1px);
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}
  
#preloader{
    background: #2b1055 url('/Images/Loader.gif') no-repeat center center;
    background-size: 5%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 10000 ;
}

#MainCV {
    font-family: 'Viga', sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    color: rgb(253, 208, 123);
    display: block;
    font-size: 40px;
    z-index: 1000;
    transform: translateY(250px);
}

#MainImg {
    position: relative;
    display: block;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 90px;
}

#MainP {
    text-align: center;
    position: absolute;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 15px;
    z-index: 1000;
    transform: translateY(300px);
}

#AboutIMG {
    width: 250px;
    height: auto;
    padding-bottom: 30px;
}

#About{
    background-color: #150233;
}

body ul {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding-left: 10px;
    padding-right: 10px;
}

body ul li {
    list-style: none;
    margin: 15px;
    z-index: 10;
}

#NavBrand {
    font-size: 1px;
}

.body2 {
    display: grid;
}

.body2{
    
}

.AboutMe {
    position: relative;
    padding: 70px;
    background-color: #2b1055;
}

.AboutMe.h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.AboutMe h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    margin-bottom: 10px;
    color: #ffff;
}

.AboutMe p {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    color: #ffff;
    margin-top: 30px;
}

#AboutText {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

#MyName {
    font-size: 20px;
}

p.About {
    line-height: 25px;
    padding-bottom: 0;
}

#btn {
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 30px;
    margin-left: 60px;
    border-radius: 5px;
    border: 1px solid #ffae00;
    color: #ffae00;
}

.skill-box {
    width: 410px;
    color: white;
    margin-left: 330px;
}

.heading {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.skill {
    margin-bottom: 0.7rem;
}

.skill:last-child {
    margin-bottom: 0;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.bar {
    background: #150233;
    border-radius: 20px;
    height: 0.4rem;
    overflow: hidden;
}

.html-bar,
.mg-bar,
.gd-bar,
.VE-bar {
    width: 0;
    height: inherit;
    background: linear-gradient(135deg, #f18c27, #f9e400);
}

.html-bar {
    animation: html-fill 1.5s ease-in-out forwards;
}

@keyframes html-fill {
    100% {
        width: 85%;
    }
}

.gd-bar {
    animation: gd-fill 1.5s ease-in-out forwards;
}

@keyframes gd-fill {
    100% {
        width: 60%
    }
}

.VE-bar {
    animation: AD-fill 1.5s ease-in-out forwards;
}

@keyframes AD-fill {
    100% {
        width: 96%;
    }
}

.C-box {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 63%;
    right: 5%;
    bottom: 50%;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.circular-progress {
    position: relative;
    height: 145px;
    width: 145px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress:before {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: #2B1055FF;
    border-radius: 50%;
}

.value-container {
    position: relative;
    font-size: 26px;
    color: white;
}

.C-box2 {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 63%;
    right: 18%;
    bottom: 50%;
    border-radius: 8px;
    display: grid;
    place-items: center;
}

.circular-progress2 {
    position: relative;
    height: 145px;
    width: 145px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress2:before {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    background-color: #2B1055FF;
    border-radius: 50%;
}

.value-container2 {
    position: relative;
    font-size: 26px;
    color: white;
}

.Sinhala {
    margin-bottom: 98px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.English {
    margin-bottom: 98px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.Projects {
    display: inline-block;
    width: 100%;
    height: 750px;
    background-color: #150233;
}

#FProjects {
    margin-left: 20px;
    padding-bottom: 50px;
}

.FP {
    color: #ff0022;
    padding-top: 50px;
    padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.h2text {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    margin: auto;
    color: white;
    font-size: 20px;
    padding-bottom: 20px;
}

.image {
    display: contents;
    margin: auto;
    text-align: center;
    width: 30%;
}

.figure {
    overflow: hidden;
    margin: 0 10px;
}

.image img {
    width: 90%;
    height: auto;
    cursor: pointer;
}

.image #zoom-in img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.image #zoom-in:hover img {
    transform: scale(1.1);
}

.Massage {
    width: 230px;
}

.CBD {
    width: 200px;
}

.Angelina {
    width: 200px;
}

.Book {
    width: 266px;
}

.VMD {
    display: flex;
    border-radius: 10px;
    border-color: #f18c27;
    border-width: 2px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #150233;
    border: solid 1px white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

.button:hover {
    color: #150233;
    background-color: white;
}

#Animating {
    margin-top: 80px;
}

.FormB {
    width: 100%;
    height: 170px;
    background-color: #2b1055;
    cursor: default;
}

.Contact {
    color: white;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.ContactIcons {
    display: block;
    justify-content: center;
}

.ContactIconsTxt {
    color: white;
    font-size: 20px;
}

#Footer {
    width: 100%;
    height: 120px;
    color: aliceblue;
    background-color: rgb(39, 39, 39);
}

.line {
    margin-top: 10px;
    border-top: solid 0.5px rgb(66, 66, 66);
    width: 98%;
    position: absolute;
    left: 10px;
    right: 10px;
}

#FooterText {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #b4b2b2;
    font-weight: 400;
    width: 100%;
    height: 20px;
    font-size: 15px;
    margin-top: 30px;
}

.social {
    display: flex;
    justify-content: center;
}

.reveal-section {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  